@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-input {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.stickerIcon-3Jx5SE {
    width: 20px!important;
    height: 20px!important;
}
.icon-1d5zch {
    width: 24px;
    height: 24px;
}

.sprite {
    background-position: 50%;
}

.discord-message {
    background: rgba(106,116,128, 0.24);
}
